@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900);

html, body {
  background-color: #2B4779;
  font-size: 13px;
  height: 1920px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  width: 1080px;
}

#target-area {
  background-color: #dddddd;
  height: 1600px;
  width: 980px;
  box-shadow: 0 0 30px rgba(0,0,0,.6);
}

#target-area img {
  width: 100%;
  display: block;
}

.top-button {
  position: absolute;
  right: 0px;
  top: 30%;
}
.bottom-button {
  position: absolute;
  right: 0px;
  bottom: 30%;
}

.top-button button, .bottom-button button {
  z-index: 40;
}

.top-button button i, .bottom-button button i {
  transform:rotate(270deg);
}

.row {
  margin-left:0;
  margin-right:0;
}

.logo {
  position: absolute;
  top:0px;
  right: 0;
  padding:10px;
  width:25%;
  background: rgba(33,33,33,0.4);
}

.top-row {


}

.maps h1 {
  text-align: center;
  margin: 0;
  font-size: 30px;
}

.floor {
  padding:0 10% 0 30px;
}

.key {
  padding:0 50% 0 30px;
}

.tower {
  position: absolute;
  right: 0;
  width: 30%;
  top: 40%;
  padding: 10px;
  background: rgba(244,244,244,1);
  box-shadow: 0 0 30px rgba(0,0,0,.6);
}