@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900);

@font-face {font-family:NDIcons;
  src:url('https://www.nd.edu/assets/fonts/nd.eot');
  src:url('https://www.nd.edu/assets/fonts/nd.eot?iefix') format('embedded-opentype'),
      url('https://www.nd.edu/assets/fonts/nd.woff') format('woff'),
      url('https://www.nd.edu/assets/fonts/nd.ttf') format('truetype'),
      url('https://www.nd.edu/assets/fonts/nd.svg#NDIcons') format('svg');
}
@font-face {font-family:GPCBook;
  src:url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.eot');
  src:url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.eot?iefix') format('embedded-opentype'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.woff') format('woff'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.ttf') format('truetype'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.svg#svgGPCBook') format('svg');
}
@font-face {font-family:GPCMed;
  src:url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.eot');
  src:url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.eot?iefix') format('embedded-opentype'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.woff') format('woff'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.ttf') format('truetype'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.svg#svgGPCMed') format('svg');
}

@font-face {font-family:GPMed;
  src:url('https://www.nd.edu/assets/fonts/GalaxiePolaris-Medium.eot');
  src:url('https://www.nd.edu/assets/fonts/GalaxiePolaris-Medium.eot?iefix') format('embedded-opentype'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolaris-Medium.woff') format('woff'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolaris-Medium.ttf') format('truetype'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolaris-Medium.svg#svgGPCMed') format('svg');
}

@font-face {font-family:GPMedI;
  src:url('https://www.nd.edu/assets/fonts/GalaxiePolaris-MediumItalic.eot');
  src:url('https://www.nd.edu/assets/fonts/GalaxiePolaris-MediumItalic.eot?iefix') format('embedded-opentype'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolaris-MediumItalic.woff') format('woff'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolaris-MediumItalic.ttf') format('truetype'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolaris-MediumItalic.svg#svgGPCMed') format('svg');

}

@font-face {font-family:GPBook;
  src:url('https://www.nd.edu/assets/fonts/GalaxiePolaris-Book.eot');
  src:url('https://www.nd.edu/assets/fonts/GalaxiePolaris-Book.eot?iefix') format('embedded-opentype'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolaris-Book.woff') format('woff'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolaris-Book.ttf') format('truetype'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolaris-Book.svg#svgGPCMed') format('svg');
}

html, body {
  background-color: #2B4779;
  font-size: 13px;
  height: 1920px;
  margin: 0;
  padding: 0;
  font-family: GPMed, sans-serif;
  /*overflow:hidden;*/
}

body {
  background: url(/resources/bg.jpg) no-repeat #fff;
  background-size: cover;
}
/*
.menu > div {
  min-width: 300px;
}
*/

.maps, .call, .directory, .hours, #rooms, .visitor, .slick-track img {
  background-color: #dddddd;
  box-shadow: 0 0 30px rgba(0,0,0,.6);
  height: 1700px !important;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0;
}

.slick-track img {
  display: block;
}

#target-area img {
  width: 100%;
  display: block;
}

.home img {
  position:relative;
  z-index:2;
}

.top-button {
  position: absolute;
  right: 0px;
  top: 30%;
  display: none;
}

/*
.bottom-button {
  position: absolute;
  right: 0px;
  bottom: 50%;
}
*/

.menunew {
  position: absolute;
  top: 50%;
  right: 0;
  width: 16.667vw !important;
}
.top-button button, .bottom-button button {
  z-index: 40;
}

.top-button button i, .bottom-button button i {
  transform:rotate(270deg);
}

.directory-listing {
  /*background: url(/resources/directory.jpg);
  background-size: cover;*/

}

.row {
  margin-left:0;
  margin-right:0;
}

.row-even {
  background: rgba(244,244,244,.6);
}

.row-odd {
  background: rgba(244,244,244,.8);
}

/*.logo {
  position: absolute;
  bottom:0px;
  right: 0;
  padding:10px;
  width:25%;

}*/

.top-row h1 {
  font-family: GPCMed;
  font-size: 9.5vw;
  text-align: center;
  letter-spacing: 4.5vw;
  color: #001E46;
  padding: 0 0 0 3vw;
  margin: 0 auto;
}

.logo {
  float: right;
  width: 29vw;
  padding-right:2vw;
  padding-top:2vw;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 30px;
  font-weight:normal;
  color:#333;
  margin:2vw auto;
}

.floor {
  padding:0 10% 4vw 30px;
}

.key {
  padding:0 50% 0 30px;
}



.tower {
  position: absolute;
  right: 0;
  width: 30%;
  top: 67%;
  padding: 10px;
  background: rgba(244,244,244,1);
  box-shadow: 0 0 30px rgba(0,0,0,.6);
}



.room-reservations {
    background: url(/resources/room.reservation.jpg);
}

.room-reservations * {
  width: 100% !important;
  height: auto !important;
  line-height: auto !important;

  background-size: cover;
}

.room-reservations ul {
  width: 50% !important;
  margin:0 auto;
}

.room-reservations li {
  list-style: none;
  margin-bottom:1em;
}

.room-reservations button {
    width: 100% !important;
    padding:15px !important;
}

.room-reservations span {

  font-size: 30px !important;
  height: auto !important;
  text-align: center;

}

/*
.service-point:nth-child(3n+1) {
  clear: left;
}

.service-point {
  padding:15px;
  float: left;
  width: 30%;
}
.service-point {
  width:31vw;
  margin-right:1vw;
}

.hours-listing {
  display:flex;
  flex-flow:row wrap;
  padding:1vw;
}
*/

#london, #computer_lab {
  display:none;
}

.social {
  padding-left:2vw;
  padding-top:2vw;
  z-index: 1;
  float: left;
}

.social p {
  color:#fff;
  font-weight:bold;
  font-size:34px;
  margin-top:0;
  margin-bottom:15px;

}

.social img {
  height:40px;
}

.service-point dt {
  background:#fff;
  padding:10px;
  line-height: 1.3;
  width:90%;
  margin:1vw auto;
  border-radius:.5vw;
}

.service-point dd {
  margin-left:7vw;
}

/*
.bottom-button div div div {
  background:#ccc !important;
  border-radius:25%  0 0 25% !important;
  transform: rotate(270deg);
}
.bottom-button div div div {
  transform: rotate(0deg);
}
*/

.bus img {
  width:80% !important;
  margin: 0 auto 2vw;
}



/*.animated {
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}


@keyframes pulse {
  0% {transform: scale(1)  translate(0, 0);}
  10% {transform: scale(1.5)  translate(-15%, 0); }
  20% {transform: scale(1)  translate(0, 0); }
  100% {transform: scale(1) translate(0, 0);  }
}
*/

.col-lg-10, .col-lg-2 {
  padding: 0 !important;
}

.col-lg-10 .container {
  width: 100% !important;
}

/*
.bottom-button * {
  background: none !important;
  border-radius:25px 0 0 25px  !important;
}

.bottom-button .menu * {
  background: #fff !important;
  border-radius:0  !important;
}

.bottom-button * .pulse {
  animation-name: pulse;
  animation-duration: 10s;

  padding:15px !important;
  border-radius:25px 0 0 25px  !important;

  width: auto !important;
  height: auto !important;
  overflow: visible !important;
  background: rgba(240, 240, 240, .5) !important;
}
*/

.pulse span {
  font-size:40px;
  color:#000;
}

.container {

}

.slick-slide {
    float: left;
    height: 100%;

    }

.bottom-row {
  background-color: #2B4779;
  float: left;
  width: 100%;
}

.menu {
  background-color: rgba(247,232,157, .6);
  border-top: solid 1px #666 !important;
}

.menu * {
  background: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  position: static !important;
  padding: 0 !important;
}

.menu i {
  display: none !important;
}

.menu a {
  padding-left: 10px !important;
  font-family: GPCMed !important; 
  font-size: 26px !important;
  border-bottom: solid 1px #666 !important;
}


